.loginPage {
    text-align: center;
    color: green;
    font-size: xx-large;
    background-color: black;
    border-style: double;
    margin-top: 5%;
    inline-size: 40%;
    border-radius: 45%; 
    margin-left: 29%;
      
}

.user {
    color: blueviolet;
    font-size: larger;
    margin-top: 15%;
    margin-left: 31%;
}

.password {
    color: blueviolet;
    font-size: larger;
    margin-left: 40%;
    
}


.text {
    
    margin-left: 40%;
    font-size:x-large;
    color:blueviolet ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}


.email {
    margin-top: 10%;
    margin-left: 40%;
    color: blueviolet;
    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    
}

.emaile {
    margin-left: 40%;
}

.button {
    
margin-left: 45%;
    display: flex ;
    margin-top: 10%;
    text-align: center;
    
}